@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');

a{
    color:lightgray;
    text-decoration: none;
    padding: 0 5%;
}

table{
    background-color: lightgray;
    width:80%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border:1px solid black;
    border-radius: 5px;
}

table a{
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
table th{
    background-color: lightpink;
}
table th,td,tr{
    border:1px solid black;
}

table tr td ul,table tr td ul li{
    text-align: center;
    text-decoration: none;
}
a:hover{
    color:red;
}

body{
   margin:0;
   padding: 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
   background-color: #2C3E50 ;
   font-size: 15px;
   font-weight: 500;
   text-align: center;
}

h1{
    font-family: 'Gotu', sans-serif;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}

h2{
    color:lightgrey;
}

.error{
  text-align: center;
  color:red;
  font-size: 10px;
}

.box{
    margin-top: 20px;
    padding:10px 70px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:white ;
    border-radius: 10px;
    color: black;
}

.box input[type="text"],
.box input[type="email"],
.box input[type="tel"],
.box input[type="number"],
.box input[type ="date"],
.box input[type ="time"],
.box select{
    border:none;
    display: block;
    margin:20px auto;
    text-align: center;
    background-color:white;
    border-bottom:2px solid black;
    text-decoration: none;
}

.box label{
    display:block;
}

.box input[type ="submit"], .box input[type="reset"], .resumen input[type="button"]{
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    padding: 10px;
    margin:4px 20px;
}

.box input[type="text"]:hover,
.box input[type="email"]:hover,
.box input[type="tel"]:hover,
.box input[type="number"]:hover,
.box input[type ="date"]:hover,
.box input[type ="time"]:hover,
.box select:hover{
    border-bottom: 2px solid red;
}


.box input[type ="submit"]:hover, .box input[type="reset"]:hover, .resumen input[type="button"]:hover{
    background-color: #2C3E50;
    color: white;
}

.box span{
    font-size: 12px;
}

.resumen{
  color:black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: lightgray;
}

.resumen h2{
  text-align: center;
}

ul {
    list-style: none;
}
.box .separate{
  padding: 1%;
  border: none;
  border-top: 1px solid lightgray;
}

.box .separate:hover{
  border-top: 1px solid red;
}