.presentacion{
    background-color: black;
    color: white;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center;
}

.titles{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 18px; 
    text-align: center;
}

.icono{
    font-size: 40px;
    padding-left: 47%;
}

.iconoMuni{
    width: 40px;
    height: 40px;
}

.iconoExp{
    font-size: 40px;
    padding-left: 20%;
}

.expT{
    color: black;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size: 18px; 
    font-weight: 400;
    display: inline-flex;
}

.pizqu{
    display: inline-flex;
    width: auto;
}


.p1{
    width: 20%;
    text-align: center;
}

 .p2{
    width: 20%;
}

.p3{
    width:60%
}

.foto{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.parceo{
    display: inline-flex;
}

.izquierda{
    padding-left:0%;
    max-width: 60%;
}


.derecha{
    max-width: 30%;
    padding-left: 0%;
    padding-top: 2%;
    text-align: center;
    background-color: rgb(227,215,201);
}
